<launch>

<arg name="robot_name" default="lolo"/>

<param name="utm_zone" type="int" value="34"/>
<param name="utm_band" type="string" value="V"/>

<include file="$(find lolo_description)/launch/lolo_description.launch">
    <arg name="namespace" value="$(arg robot_name)"/>
</include>

<include file="$(find tf_lat_lon)/launch/odom_tf.launch" ns="$(arg robot_name)">
    <arg name="robot_name" value="$(arg robot_name)"/>
</include>

<!--
<node pkg="lolo_drivers" type="old_pose_converter.py" name="old_pose_converter" output="screen" ns="$(arg robot_name)">
    <param name="robot_name" value="$(arg robot_name)"/>
</node>
-->
<node pkg="captain_interface" type="interface" name="captain_interface" output="screen" ns="$(arg robot_name)"/>

</launch>
