<launch>
  <!-- TESTING -->
  <!-- Launch file for testing the INS -> ODOM, map_odom_initializer_node is used to define odom's fixed transform -->
  <arg name="robot_name" default="lolo" />
  <arg name="bag_path" default="~/lolo_bags/rosbag2_ins" />

<!--   <executable -->
<!--     cmd="ros2 bag play $(var bag_path)" -->
<!--     output="screen"> -->
<!--   </executable> -->

  <node pkg="lolo_dr" exec="ins_map_odom_initializer_node" name="ins_map_odom_initializer_node" output="screen" namespace="$(var robot_name)">
    <param name="update_rate" value="0.1" />
    <param name="verbose" value="False" />
  </node>

  <node pkg="lolo_dr" exec="ins_2_odom_complete_node" name="ins_2_odom_node" output="screen" namespace="$(var robot_name)">
    <param name="correct_meridian_convergence" value="true" />
    <param name="publish_tf" value="true" />
    <param name="output_rate" value="50.0" />
    <param name="verbose_setup" value="False" />
    <param name="verbose_conversion" value="False" />
  </node>

</launch>