<launch>

    <!-- Ip address of captain -->
    <arg name="captain_ip" default="192.168.1.90" />

    <!-- Captain interface node -->
    <node pkg="captain_interface" type="interface" name="interface" output="screen">
        <param name="captain_ip" value="$(arg captain_ip)" type="str"/>
    </node>

    <!-- setbool services node -->
    <node pkg="captain_interface" type="captain_services.py" name="captain_toggle_services" output="screen"/>

    <!-- Waypoint actionserver -->
    <!-- <node pkg="captain_interface" type="waypoint_actionserver.py" name="waypoint_action_server" output="screen"/> -->

</launch>
