<launch>
<!-- Configurable arguments -->
    <arg name="robot_name" default="lolo"/>
    <arg name="client_addr" default="192.168.1.160"/>
    <arg name="server_addr" default="192.168.1.160"/>
    <arg name="server_port" default="6002"/>
    <arg name="system_name" default="$(arg robot_name)"/>
    <arg name="imc_id" default="5"/>

    <!-- <node name="translator" type="neptus_translation_test.py" pkg="captain_interface"> </node> -->

    <group ns="$(arg robot_name)">

        <group ns="ctrl">
            <node name="gotowp_server" type="waypoint_actionserver.py" pkg="captain_interface" output="screen">
                <param name="base_frame" value="$(arg robot_name)/base_link"/>
            </node>
        </group>

        <include file="$(find imc_ros_bridge)/launch/bridge.launch">
            <arg name="client_addr" value="$(arg client_addr)"/>
            <arg name="server_addr" value="$(arg server_addr)"/>
            <arg name="server_port" value="$(arg server_port)"/>
            <arg name="imc_system_name" value="$(arg system_name)"/>
            <arg name="imc_id" value="$(arg imc_id)"/>
        </include>


        <node name="neptus_bt" pkg="waypoints" type="neptus_bt.py" output="screen">
            <param name="system_name" value="$(arg system_name)" />
            <remap from="/bezier_planner" to="ctrl/bezier_planner"/>
        </node>
    </group>
</launch>
