<launch>
<!-- Configurable arguments -->
    
    <node pkg="captain_interface" type="interface" name="interface" output="screen"> </node>

    <node pkg="captain_interface" type="lolo_translator.py" name="interface_translator" output="screen"> </node>
    
    <node pkg="captain_interface" type="transform_broadcaster.py" name="transform_broadcaster" output="screen"> </node>

    <!-- <node pkg="tf" type="static_transform_publisher" name="world_ned_broadcaster"                   args="0 0 0 0 0 0 1 world world_ned 100" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="world_ned_broadcaster"                   args="0 0 0 0 0 0 1 world world_ned 100" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="world_ned_broadcaster"                   args="0.1 0 0 0 0 0 1 world_ned local_ned 100" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="world_enu_utm_broadcaster"               args="0 0 0 0 0 0 1 world_ned world_enu_utm 100" /> -->
    
    <node pkg="tf" type="static_transform_publisher" name="world_nedto_local_ned_broadcaster"       args="0 0 0 0 0 0 1 world_utm_ned local_ned 100" />
    <node pkg="tf" type="static_transform_publisher" name="world_local_enu_broadcaster"             args="0 0 0 0 1 0 0 local_ned local_enu 100" />
    <node pkg="tf" type="static_transform_publisher" name="world_local_broadcaster_imu"             args="-3 0 0 0 0 0 1 local_ned local_imu 100" />
    <node pkg="tf" type="static_transform_publisher" name="world_local_broadcaster_pressure"        args="-3.1 0 0 0 0 0 1 local_ned local_pressure 100" />
    <node pkg="tf" type="static_transform_publisher" name="world_local_broadcaster_gps"             args="-2.5 0 -0.5 0 0 0 1 local_ned local_gps 100" />
    <node pkg="tf" type="static_transform_publisher" name="world_local_broadcaster_dvl"             args="-2.5 0 0.5 0 0 0 1 local_ned local_dvl 100" />
    <node pkg="tf" type="static_transform_publisher" name="world_local_broadcaster_rudder"          args="-3 0 0.2 0 0 0 1 local_ned local_rudder 100" />
    <node pkg="tf" type="static_transform_publisher" name="world_local_broadcaster_elevator"        args="-4 0 0 0 0 0 1 local_ned local_elevator 100" />
    <node pkg="tf" type="static_transform_publisher" name="world_local_broadcaster_thruster_strb"   args="-4 0.25 0 0 0 0 1 local_ned local_thruster_strb 100" />
    <node pkg="tf" type="static_transform_publisher" name="world_local_broadcaster_thruster_port"   args="-4 0.25 0 0 0 0 1 local_ned local_thruster_port 100" />
    <node pkg="tf" type="static_transform_publisher" name="world_local_broadcaster_elevon_strb"     args="-3 1 0 0 0 0 1 local_ned local_elevon_strb 100" />
    <node pkg="tf" type="static_transform_publisher" name="world_local_broadcaster_elevon_port"     args="-3 -1 0 0 0 0 1 local_ned local_elevon_port 100" />


</launch>
